/* Skip to content*/
.skip {
  position: absolute;
  top: -50px;
  color: #000000;
}

.skip:focus {
  position: absolute;
  top: 0px; 
}



/* Header and navbar */
header {
  background: rgba(236,227,225,0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
  
  

  
}


h1 {
  color: #07000000;
  font-family: "Roboto", "Andika";
  font-size: 3.5em;
  padding-top: 0.2em;
  text-align: center;
  justify-self: center;
  margin: auto;
}


nav {
  width: 100%;
  padding-bottom: 0.4em;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
}

.nav_item a {
  color: rgb(128, 128, 128);

  text-decoration: none;
  font-family: "Roboto:wght@100", "Andika";
  font-size: 1.5em;
  
}

.nav_item a:hover {
  transition: all .4s ease-in-out;
  color: rgba(0, 0, 0);
  border-bottom: 2px solid #333;
}

#current {
  color: rgba(0, 0, 0);
  border-bottom: 2px solid #333;
}


main {
  background: rgba(236,227,225,0.5);
  

}

main p {
  color: #333;
}
main{
  color: rgb(3, 3, 3);
  font-size: 3em;
 
  
}
/* Footer */
footer {
  display: flex;
  width:100%;
  background-image:linear-gradient(0deg, rgba(90, 13, 35, 0.25), rgba(246, 244, 250, 0.25));
  color: #000000;
  text-align: center;
  min-height: 3em;
  position: relative;
  left: 0;
  bottom: 0vh;
  padding: 0px;
  background: rgba(236,227,225,0.75);
  
}

footer p {
    margin: auto;
}

  /*
  body{
    color: #faf9f9;
    font-size: 16px;
    font-family: 'Andika', sans-serif;
    background-image: linear-gradient(0deg, rgba(90, 13, 35, 0.1), rgba(246, 244, 250, 0.1));
    margin: 0;
    height: 100%;
    
  } 
  .head{
    color:black;
    font-size: 160px;
    font-family: 'Andika', sans-serif;
    background-image: linear-gradient(0deg, rgba(240, 90, 133, 0.2), rgba(246, 244, 250, 0.2));
  
  }