.ex1 img{
  margin-top: 1em;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2), 0 0px 8px 0 rgba(0, 0, 0, 0.19);
  
}

hr{
  
  border: 1px solid #686868;
  
}
.flip-card {
    
    width: 100%;
    height: 100%;
    text-align: center;
    text-decoration: none;
    color: #000000;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    font-weight: bold;
    perspective: 1000px; 
  }

  .credibly_button:hover .flip-card-back, .credibly_button:focus .flip-card-back, .led_button:hover .flip-card-back, .led_button:focus .flip-card-back, .about_button:hover .flip-card-back, .about_button:focus .flip-card-back, .fun_button:hover .flip-card-back, .fun_button:focus .flip-card-back, .led_button:hover .flip-card-back, .led_button:focus .flip-card-back{
    transform: rotateX(0deg);

  }
  
  .credibly_button:hover .flip-card-front, .credibly_button:focus .flip-card-front, .led_button:hover .flip-card-front, .led_button:focus .flip-card-front, .about_button:hover .flip-card-front, .about_button:focus .flip-card-front, .fun_button:hover .flip-card-front, .fun_button:focus .flip-card-front{
    transform: rotateX(180deg);
    
  }
.paper_link, .paper_link:visited{
  color: #be6e68;
  text-decoration: none;
}
.paper_link:hover, .paper_link:focus{
  color: #be6e68;
  text-decoration: underline;
}


  .flip-card-front{
    position: absolute;
    font-weight: bold;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    text-align: center;
    transform: rotateX(0deg);
    z-index: 2;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card-back{
    visibility: visible;
    font-weight: bold;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    transform: rotateX(180deg);
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }


/* Loading screen Credit to "ihatetomatoes.net" */

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
script{
  display: none
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: rgb(156, 192, 255);

  -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

  z-index: 1001;
}

  #loader:before {
      content: "";
      position: absolute;
      top: 5px;
      left: 5px;
      right: 5px;
      bottom: 5px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: #d87e77;

      -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
  }

  #loader:after {
      content: "";
      position: absolute;
      top: 15px;
      left: 15px;
      right: 15px;
      bottom: 15px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: #FFC42E;
      border-bottom-color: rgb(252, 97, 25);
      -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
  }

  @-webkit-keyframes spin {
      0%   { 
          -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
          -ms-transform: rotate(0deg);  /* IE 9 */
          transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
      }
      100% {
          -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
          -ms-transform: rotate(360deg);  /* IE 9 */
          transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
      }
  }
  @keyframes spin {
      0%   { 
          -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
          -ms-transform: rotate(0deg);  /* IE 9 */
          transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
      }
      100% {
          -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
          -ms-transform: rotate(360deg);  /* IE 9 */
          transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
      }
  }

  #loader-wrapper .loader-section {
      position: fixed;
      top: 0;
      width: 51%;
      height: 100%;
      background: rgba(236,227,225,1);
      z-index: 1000;
      -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: translateX(0);  /* IE 9 */
      transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
  }

  #loader-wrapper .loader-section.section-left {
      left: 0;
  }

  #loader-wrapper .loader-section.section-right {
      right: 0;
  }

  /* Loaded */
  .loaded #loader-wrapper .loader-section.section-left {
      -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
          -ms-transform: translateX(-100%);  /* IE 9 */
              transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

      -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
              transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }

  .loaded #loader-wrapper .loader-section.section-right {
      -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
          -ms-transform: translateX(100%);  /* IE 9 */
              transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
      transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }
  
  .loaded #loader {
      opacity: 0;
      -webkit-transition: all 0.3s ease-out;  
              transition: all 0.3s ease-out;
  }
  .loaded #loader-wrapper {
      visibility: hidden;

      -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
          -ms-transform: translateY(-100%);  /* IE 9 */
              transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

      -webkit-transition: all 0.3s 1s ease-out;  
              transition: all 0.3s 1s ease-out;
  }



.project img {
  
  box-shadow: 1px 3px 6px 1px rgba(0.3, 0.3, 0.3, 0.6);
}

.research{
  grid-row:22 / span 2;
  grid-column: 2 / span 8;
  font-size: 0.4em;
  margin-bottom: 1em;



}
.prop{
  grid-row:20 / span 2;
  grid-column: 2 / span 7;
  background-size: cover;
  margin-bottom: 1em;
  margin-top: 1.3em;
  
}

.sketch_logo{
  width: 100%;
  grid-row: 14 / span 2;
  grid-column: 2 / span 7;
  
  margin-bottom: 1em;
  margin-top: 1em;
  
  
}
.request{

  grid-row:16 / span 2;
  grid-column: 2 / span 8;
  font-size: 0.4em;
  margin-bottom: 1em;
  margin-top: 1em;
}
.preliminary{
  grid-row: 24 / span 2;
  grid-column: 2 / span 7;
  margin-bottom: 1em;
  margin-top: 1em;
  
}
.potential{

  grid-row:26 / span 2;
  grid-column: 2 / span 7;
  font-size: 0.4em;
  margin-bottom: 1em;
  margin-top: 1em;
  
}
.sign_location1{
  grid-row: 28 / span 2;
  grid-column: 2 / span 7;
  font-size: 0.4em;
  margin-bottom: 1em;
  margin-top: 2em;
  
  text-align: center;
}

.sign_location2{
  grid-row: 30 / span 2;
  grid-column: 2 / span 7;
  font-size: 0.4em;
  margin-bottom: 1em;
  margin-top: 2em;
  
  
  text-align: center;
}
.sign_location3{
  grid-row: 32 / span 2;
  grid-column: 2 / span 7;
  font-size: 0.4em;
  margin-bottom: 1em;
  margin-top: 2em;
  
  
  text-align: center;
}
.sign_location4{
  grid-row: 34 / span 2;
  grid-column: 2 / span 7;
  font-size: 0.4em;
  margin-bottom: 1em;
  margin-top: 2em;
  
  text-align: center;
}
.action_taken{
  grid-row: 36 / span 2;
  grid-column: 2 / span 8;
  font-size: 0.4em;
  margin-bottom: 1em;
  margin-top: 1em;
}
.twitter_fundraise{
  grid-row: 38 / span 2;
  grid-column: 3 / span 7;
  font-size: 0.4em;
  margin-bottom: 1em;
  margin-top: 1.2em;
}
.twitter_fundraise2{
  grid-row: 39 / span 2;
  grid-column: 5 / span 4;
  font-size: 0.4em;
  margin-bottom: 1em;
  margin-top: 1em;
}
.boosters{
  grid-row: 41 / span 2;
  grid-column: 2 / span 8;
  font-size: 0.4em;
  margin-bottom: 1em;
  margin-top: 2em;
}
.ptsa{
  grid-row: 43 / span 2;
  grid-column: 3 / span 6;
  font-size: 0.4em;
  margin-bottom: 1em;
  margin-top: 2em;
  
}
.result{
  grid-row: 45 / span 2;
  grid-column: 2 / span 8;
  font-size: 0.4em;
  margin-bottom: 1em;
  margin-top: 2em;
}
.sign_day{
  grid-row: 48 / span 2;
  grid-column: 3 / span 4;
  font-size: 0.4em;
  margin-bottom: 1em;
  margin-top: 2em;
  z-index: 2;
}
.sign_night{
  grid-row: 49 / span 2;
  grid-column: 4 / span 4;
  font-size: 0.4em;
  margin-bottom: 2em;
  
  z-index: 2;
}
.sign_ground{
  grid-row: 48 / span 1;
  grid-column: 6 / span 4;
  font-size: 0.4em;
  z-index: 1;
  margin-top: 2em;
}
.paper{
  grid-row: 51 / span 2;
  grid-column: 2 / span 8;
  font-size: 0.4em;
  margin-bottom: 2em;
  
  
}

.sign_day img, .sign_ground img, .sign_night img{
  border: 2px solid #000000;
}




html{
  scroll-behavior: smooth;
  
}
* {
  margin: 0;
  
}

.skip {
  position: absolute;
  top: -50px;
  color: #000000;
  background-color: rgba(236,227,225,1);
  border: 2px solid #000000;
}
.skip-background{
  background-color: rgba(236,227,225,1);

}

.skip:focus {
  position: absolute;
  top: 0px; 
  z-index: 99;
  padding: 0.5em;
  margin-top: 4.5em;
}

p a{
  text-decoration: none;
  color: #be6e68;
  
}

p a:hover{
  text-decoration: underline;
  color: #be6e68;
}
.mich{
  text-decoration: none;
  color: #be6e68;
}
.mich:hover{
  text-decoration: underline;
  color: #be6e68;
}

html, body{

width: 100vw;
height: 100vh;


}






.cooper_link{
  text-decoration: none;
  display: inline;
  color:rgb(255, 255, 255);
  
}
.cooper_link:visited{
  text-decoration: none;
  display: inline;
  color:rgb(255, 255, 255)
}



nav {
  width: 100%;
  padding-bottom: 1em;
  background: rgba(236,227,225,1);
  padding-top: 0.2em;
  font-size: 0.8em;
  position: fixed;
  top: 0px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  z-index: 90;
  
}
  
nav ul{
  display: flex;
  justify-content: space-evenly;
}


.nav_item{

  margin-right: 1em;
  margin-left: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}
.nav_item a{
  color: #000000;
  text-decoration: none;
  font-family: 'Russo One',sans-serif;
  font-size: 1.5em;
  opacity: 1;
  padding: 0.5em;
}

.nav_item a:hover{
  transition: all .3s ease-in-out;
  color: #945551;
  opacity: 1;
  border-radius: 20px;
  background: rgb(226, 216, 214);
}

h1 a{
  text-decoration: none;
  color: #000000;
  text-align: center;
}
#current {
  color: #945551;
  opacity: 1;
  
}


.Menu-list {
  font-size: 1.2em;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
}



/* Main */
main {
  color: rgb(40, 37, 37);
  font-size: 3em;
  width: 100%;
  font-family: "Work Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif

}
body{
  background: rgba(236,227,225,0.6);
}


.home_body p {
  color: #352e2e;
  font-size: 1em;
  font-family: "Work Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}



.home_body{
  font-size: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  
  
}

#intro{
  grid-row: 2 / span 2;
  grid-column: 2 / span 8;
  margin-top: 3em;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
  margin-left: 0.5em;
  padding-top:1em;
  text-align: center;
  font-family: 'Russo One', sans-serif;
}
#intro2{
  grid-row: 4 / span 2;
  grid-column: 2 / span 8;
  margin: 0.5em;
  
}
.intro3{
  grid-row: 6 / span 2;
  grid-column: 2 / span 8;
  margin:0.5em;
 
}
#intro4{
  grid-row: 8 / span 2;
  grid-column: 2 / span 8;
  margin-top: 0.5em;
  margin-bottom: 2em;
  
  margin-right: 0.5em;
  margin-left: 0.5em;
  
}

#intro, #intro2, .intro3, #intro4{
  text-align: center;
}

.home_body h1 {
  margin-top: 3em;
  font-size: 1.5em;
  
  
  
}


@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
.cooper_link:hover .spin {
  animation-name: spin;
  animation-delay: 0.3s;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
  /* transform: rotate(3deg); */
   /* transform: rotate(0.3rad);/ */
   /* transform: rotate(3grad); */ 
   /* transform: rotate(.03turn);  */
}

.credibly_block{
  font-size: 0.3em;
  font-family: 'Gruppo';
  
  
}
.credibly_block p, .adams_block p{
 padding-top: 0.6em;
}

.adams_block{
  
  font-size: 0.3em;
  font-family: 'Gruppo';
  margin: auto;
  display: block;
}
.credibly_block img{
  width: 50%;
  height: auto;
  margin: auto;
  display: block;
  padding: 0.5em;
  z-index: 2;
  background: none;
  
}

/* Footer */
footer {
  display: flex;
  flex-flow: row nowrap;
  justify-items: flex-start;
  width:100%;
  color: #000000;
  text-align: center;
  min-height: 3em;
  position: relative;
  left: 0;
  bottom: 0vh;
  padding: 0px;
  background: rgba(236,227,225,1);
  font-size: 1em;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2), 0 0px 8px 0 rgba(0, 0, 0, 0.19);
  font-family: "Work Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

footer p {
    margin: auto;
}
.section1 {
  grid-row: 8 / span 22;
  grid-column: 1 / span 10;
  background: linear-gradient( rgba(156, 242, 255, 0.8), rgba(153, 211, 156, 0.8));
  z-index: -1;
  
}
.section2 {
  background: linear-gradient(rgba(153, 211, 156, 0.8), rgba(156, 242, 255, 0.8));
  
  z-index: -1;
  grid-row: 30 / span 40;
  grid-column: 1 / span 10;
}
.block_links{
text-align: center;
grid-gap: 1em;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows: auto;
margin-left: 1em;
margin-right: 1em;
}


.cooper_link{
display: grid;
grid-column: 1 / -1;
grid-row: 1 / span 2;
color: rgb(255, 255, 255);
background: rgb(252, 97, 25);
justify-content: center;
text-align: center;
align-items: center;
justify-items: center;
z-index: 3;
border-radius: 20px;
margin-bottom: 1em;
padding: 1em;
font-size: 1em;
box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 16px 53px 0 rgba(0, 0, 0, 0.19);
}



 .adams_link{
  display: grid;
  text-decoration: none;
  grid-column: 1 / -1;
  grid-row: 3 / span 2;
  color: #4A2511;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-family: "solway", "serif";
  
  background: #ffffff;
  border-radius: 20px;
  padding: 1em;
  margin-bottom: 1em;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 26px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.adams_link:hover {
  color: #FFC42E;
  text-decoration: none;
  
}

.container ul{
  list-style-type:square;
  margin-left: 1em;
}





.vertically:hover, .vertically:focus {
  
  -moz-transform:translateY(0%);
  -webkit-transform:translateY(0%);	
  transform:translateY(0%);
  -moz-animation: vertically 1s linear infinite alternate;
  -webkit-animation: vertically 1s linear infinite alternate;
  animation: vertically 1s linear infinite alternate;
  animation-delay: 0.2s; 
 }
 


 
 @-moz-keyframes vertically {
  0%   { -moz-transform: translateY(70%); }
  
  100% { -moz-transform: translateY(0%); }
 }
 @keyframes vertically {
  0%   { 
  -moz-transform: translateY(0%); 
  -webkit-transform: translateY(0%); 
  transform: translateY(0%); 		
  }
  100% { 
  -moz-transform: translateY(-7%);
  -webkit-transform: translateY(-7%); 
  transform: translateY(-7%); 
  }
 }
 

 .bounce-7:hover, .bounce-7:focus {
  animation-name: bounce-7;
  animation-timing-function: cubic-bezier(0.280, 0.840, 0.520, 1);
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-delay: 0.5s;
  
} 

@keyframes bounce-7 {
  0%   { transform: scale(1,1)      translateY(0); }
  10%  { transform: scale(1.1,.9)   translateY(0); }
  30%  { transform: scale(.9,1.1)   translateY(-20px); }
  50%  { transform: scale(1.05,.95) translateY(0); }
  57%  { transform: scale(1,1)      translateY(-2px); }
  64%  { transform: scale(1,1)      translateY(0); }
  100% { transform: scale(1,1)      translateY(0); }
}

#project main{
border: 0;
padding:0;
margin:0;

}

 .container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(1fr, auto);
  
  overflow: hidden;
  


}

.credibly_picture{
  background-image: url(../images/cred-header.jpeg);
  background-color: rgb(255, 127, 80);
  background-position:center; 
  background-size:cover; 
  background-repeat: no-repeat;
  min-height: 600px;
  height: 600px; 
  grid-column: 1 / -1;
  grid-row: 1 / span 7;
  display: block;
  width: 100%;
  border-bottom: 8px solid rgb(255, 127, 80);
  
  
}

.credibly_button{

  grid-column: 1 / span 6;
  grid-row: 6 / span 1;
  background: rgb(252, 97, 25);
  padding: 0.6em;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.38);
  border-radius: 50px;
  border: 2px solid #000000;
  font-size: 0.4em;
  font-weight: bold;
  text-align: center;
  color: #000000;
  text-decoration: none;
  


}

.projects_picture{
  background-image: url(../images/AHSfrontentrance.jpeg);
  background-color: #1da8d3;
  background-position:center; 
  background-size:cover;
  background-repeat: no-repeat;
  min-height: 600px;
  height: 600px; 
  grid-column: 1 / -1;
  grid-row: 1 / span 7;
  display: block;
  width: 100%;
  border-bottom: 8px solid #FFC42E;
  
}
.led_button{

  grid-column: 1 / span 6;
  grid-row: 6 / 7;
  background: #FFC42E;
  padding: 0.6em;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.38);
  border-radius: 50px;
  border: 2px solid #000000;
  font-size: 0.4em;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #000000;
  

}

.container p{
  grid-column: 4 / span 1;
  grid-row: 10 span 1;
  justify-items: center;
  font-size: 1em;
}


.fun_picture{
  background-image: url(../images/IMG-7309.JPG);
  background-color: rgb(100, 178, 202);
  background-position: center;
  background-size: cover; 
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
  grid-column: 1 / -1;
  grid-row: 1 / span 7;
  display: block;
  min-height: 600px;
  border-bottom: 8px solid rgb(100, 178, 202);
  margin-top: 2em;
}

.fun_button{

  grid-column: 1 / span 6;
  grid-row: 6 / span 1;
  background-color: rgb(100, 178, 202);
  padding: 0.6em;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.38);
  border-radius: 50px;
  border: 2px solid #000000;
  font-size: 0.4em;
  font-weight: bold;
  text-align: center;
  color: #000000;
  text-decoration: none;
  


}

.about_picture{
  background-image: url(../images/ann.jpeg);
  background-color: rgb(128, 128, 128);
  background-position: center; /* Parallax effect */
  background-size: cover; /* Parallax effect */
  background-repeat: no-repeat;
  vertical-align: middle;
  height: 600px; /* Parallax effect */
  grid-column: 1 / -1;
  grid-row: 1 / span 7;
  overflow: hidden;
  z-index: 1;
  min-height: 600px;
  border-bottom: 8px solid #d87e77;
  
}

.about_button{

  grid-column: 1 / span 6;
  grid-row: 6 / span 1;
  background-color: #d87e77;
  padding: 0.6em;
  border-radius: 25px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.38);
  border-radius: 50px;
  border: 2px solid #000000;
  font-size: 0.4em;
  font-weight: bold;
  text-align: center;
  color: #000000;
  z-index: 3;
  margin-bottom: 1em;
  text-decoration: none;

}
.me{
  background-image: url(../images/headshot-me.png);
  background-repeat: no-repeat;
  grid-column: 1 / span 10;
  grid-row: 2 / span 7;
  overflow: hidden;
  z-index: 2;
  margin-top: 2em;
  margin-bottom: 0.29em;
}

.container h1{
  
  grid-column: 2 / span 7;
  grid-row: 10 / span 2;
  justify-content: center;
  font-size: 0.7em;
  margin-top: 1em;
  margin-bottom: 1em;
  
}



img{
  display: block;
}
.fun_images{
  height: 100%;
  width: 100%;
}


.fun1{
  grid-column: 2 / span 8;
  grid-row: 14 / span 4;
  border: 5px solid rgb(100, 178, 202);
  margin-bottom: 1em;
  
  
}

.fun2{
  grid-column: 2 / span 8;
  grid-row: 18 / span 4;
  border: 5px solid rgb(100, 178, 202);
  margin-bottom: 1em;
}

.fun3{
  grid-column: 2 / span 8;
  grid-row: 22 / span 4;
  border: 5px solid rgb(100, 178, 202);
  margin-bottom: 1em;
}

.fun4{
  grid-column: 2 / span 8;
  grid-row: 26 / span 4;
  border: 5px solid rgb(100, 178, 202);
  margin-bottom: 1em;
}

.fun5{
  grid-column: 2 / span 8;
  grid-row: 30 / span 4;
  border: 5px solid rgb(100, 178, 202);
  margin-bottom: 1em;
}

.fun6{
  grid-column: 2 / span 8;
  grid-row: 34/ span 4;
  border: 5px solid rgb(100, 178, 202);
  margin-bottom: 1em;
}

.fun7{
  grid-column: 2 / span 8;
  grid-row: 38 / span 3;
  border: 5px solid rgb(100, 178, 202);
  margin-bottom: 1em;
  height: min-content;
}

.fun8{
  grid-column: 2 / span 8;
  grid-row: 42 / span 4;
  border: 5px solid rgb(100, 178, 202);
  margin-bottom: 1em;
}

.fun9{
  grid-column: 2 / span 8;
  grid-row: 46 / span 4;
  border: 5px solid rgb(100, 178, 202);
  margin-bottom: 2em;
  max-width: 100%;
  height: auto;
  overflow: hidden;
}

.info2{
  font-size: 0.4em;
  margin-bottom: 2em;
  justify-content: center;
  grid-column: 2 / span 8;
  grid-row: 50 / span 2;
  
  
}

video {
  width: 300px;
  height: 300px;
  margin-bottom: -0.25em;
  justify-content: center;
}
#page {
  visibility: visible !important;
  }


.video1{
  grid-column: 2 / span 8;
  grid-row: 56 / span 4;
  justify-self: center;
  margin-bottom: 1em;
  border: 5px solid rgb(100, 178, 202);
}

.video2{
  grid-column: 2 / span 8;
  grid-row: 62 / span 4;
  justify-self: center;
  margin-bottom: 1em;
  border: 5px solid rgb(100, 178, 202);
}

.info3{
  font-size: 0.4em;
  margin-bottom: 2em;
  justify-content: center;
  grid-column: 2 / span 8;
  grid-row: 60 / span 2;
  
  
}
.about_info1{
  grid-column: 2 / span 7;
  grid-row: 12 / span 2;
  font-size: 0.4em;
  margin-bottom: 2em;
  justify-content: center;
}

.project_info > p{
  grid-column: 2 / span 7;
  grid-row: 14 / span 2;
  font-size: 0.4em;
  margin-bottom: 2em;
  justify-content: center;
}

input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid rgb(0, 0, 0); 
  border-radius: 10px; 
  box-sizing: border-box; 
  margin-top: 6px;
  margin-bottom: 16px; 
  resize: vertical;
}


input[type=submit] {
  background-color: #d87e77;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
}


input[type=submit]:hover {
  background-color: #d87e77;
  opacity: 0.5;
}
#subject{
  height: 200px;
}


/* Add a background color and some padding around the form */
.contain {
  border-radius: 5px;
  background-color: rgba(236,227,225,1);
  padding: 20px;
  grid-column: 2 / span 8;
  grid-row: 14 / span 6;
  font-size: 0.4em;
  margin-bottom: 2em;
  justify-content: center;
  border: 1px solid #d87e77;
  
}
.more_fun{
  margin-top: 2em;
  grid-column: 2 / span 7;
  grid-row: 12 / span 2;
  font-size: 0.5em;
  margin-bottom: 2em;
  justify-content: center;
  font-weight: bold;
}

.credibly_info{
  grid-column: 2 / span 7;
  grid-row: 12 / auto;
  font-size: 0.4em;
  margin-bottom: 2em;
  justify-content: center;
  font-family: 'Russo One' sans-serif;
}


.credibly_info > li{
  margin-left: 1em;
}

.project_info{
  grid-column: 2 / span 7;
  grid-row: 12 / span 2;
  font-size: 0.4em;
  margin-bottom: 2em;
  justify-content: center;
}

.container h2{  
  grid-column: 2 / span 8;
  grid-row: 14/ span 2;
  
  justify-content: center;
  font-size: 1.7em;
  margin-top: 1.5em;
  margin-bottom: 1em;

}

.container h1{
  grid-column: 2 / span 8;
  
  justify-content: center;
  font-size: 0.7em;
  margin-top: 2em;
  margin-bottom: 1em;
  
  }

#normal{
  text-align: left;
  margin-top: 2em;
}



@media screen and (min-width: 767px){
  
  

  .fun1{
    grid-column: 2 / span 4;
    margin-bottom: 2em;
    margin-right: 1em;
    
  }

  .fun2{
    grid-column: 6 / span 4;
    grid-row: 14 / span 4;
    margin-bottom: 2em;
    margin-left: 1em;

  }
  .fun3{
    grid-column: 2 / span 4;
    margin-bottom: 2em;
    margin-right: 1em;
  }

  .fun4{
    grid-column: 6 / span 4;
    grid-row: 18 / span 9;
    margin-bottom: 2em;
    margin-left: 1em;

  }
  .fun5{
    grid-column: 2 / span 4;
    margin-bottom: 2em;
    margin-right: 1em;
  }

  .fun6{
    grid-column: 6 / span 4;
    grid-row: 26 / span 10;
    margin-bottom: 2em;
    margin-left: 1em;

  }

  .fun7{
    grid-column: 2 / span 4;
    margin-bottom: 2em;
    margin-right: 1em;
  }

  .fun8{
    grid-column: 6 / span 4;
    grid-row: 34 / span 10;
    margin-bottom: 2em;
    margin-left: 1em;

  }
 
  #page {
    visibility: visible !important;
    }
  .video1{
    grid-column: 2 / span 8;
    grid-row: 52 / span 4;
    justify-self: center;
    margin-bottom: 3em;
    
    
  }
  

  
  .video2{
    grid-column: 2 / span 8;
    grid-row: 58 / span 4;
    justify-self: center;
    margin-bottom: 2em;
    background-color: #000000;
    
  }
  .info3{
    font-size: 0.5em;
    margin-bottom: 2em;
    justify-content: center;
    grid-column: 2 / span 8;
    grid-row: 56 / span 2;
    text-align: center;
   
  }
  .info2{
    font-size: 0.5em;
    margin-bottom: 2em;
    text-align: center;
    justify-content: center;
    grid-column: 2 / span 8;
    grid-row: 49 / span 2;
    
    
  }

  video {
    width: 500px;
    height: 500px;
    margin-bottom: -0.25em;
    justify-content: center;
  }
    
    
  


  .about_picture{
    background-image: url(../images/ann.jpeg);
    background-attachment: fixed; /* Parallax effect */
    background-color: rgb(128, 128, 128);
    background-position: center; /* Parallax effect */
    background-size: cover; /* Parallax effect */
    background-repeat: no-repeat;
    vertical-align: middle;
    height: 600px; /* Parallax effect */
    grid-column: 1 / -1;
    grid-row: 1 / span 7;
    overflow: hidden;
    z-index: 1;
    min-height: 600px;
    
    
  }
  
  .about_button{
  
    grid-column: 2 / span 3;
    grid-row: 6 / span 1;
    background: #a7ddee;
    padding: 0.6em;
    border-radius: 25px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.38);
    border-radius: 50px;
    border: 2px solid #000000;
    font-size: 0.4em;
    font-weight: bold;
    text-align: center;
    color: #000000;
    z-index: 3;
    margin-bottom: 1em;
  
  }
  .me{
    background-image: url(../images/headshot-me.png);
    background-repeat: no-repeat;
    grid-column: 5 / span 7;
    grid-row: 2 / span 7;
    overflow: hidden;
    z-index: 2;
    margin-left: 1em;
    
  }
  .fun_button{
    grid-column: 2 / span 3;
    background-color:rgb(100, 178, 202);
  }
  .credibly_button{
    grid-column: 2 / span 3;
  }
  .led_button{
    grid-column: 2 / span 3;
  }
  


nav {
  width: 100%;
  padding-bottom: 1em;
  background: rgba(236,227,225,1);
  padding-top: 0.2em;
  font-size: 0.8em;
  position: fixed;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  top: 0px;
  z-index: 90;
  align-content: center;
  
  
}
.Menu-list {
  font-size: 1.2em;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  align-items: center;
  
}

.nav_item{
  margin-right: 3em;
}
.credibly_info{
  grid-column: 2 / span 8;
}
.about_info1{
  grid-column: 2 / span 8
}
 #intro, #intro1, #intro2, .intro3, #intro4{
  grid-column: 2 / span 8;
  text-align: center;
}
.cooper_link{
  grid-column: 2 / span 2;
  grid-row: 1 / span 4;
  
}
.adams_link{
  grid-column: 2 / span 2;
  grid-row: 5 / span 4;
  
}
.credibly_block img{
  width: 25%;
  height: auto;
  margin: auto;
  display: block;
  margin-bottom: 0.4em;
  
}


}
@media screen and (min-width: 1000px){

  .about_picture{
    background-image: url(../images/ann.jpeg);
    background-attachment: fixed; /* Parallax effect */
    background-color: rgb(128, 128, 128);
    background-position: center; /* Parallax effect */
    background-size: cover; /* Parallax effect */
    background-repeat: no-repeat;
    vertical-align: middle;
    height: 600px; /* Parallax effect */
    grid-column: 1 / -1;
    grid-row: 1 / span 7;
    overflow: hidden;
    z-index: 1;
    min-height: 600px;
    
    
  }
  
  .about_button{
  
    grid-column: 2 / span 2;
    grid-row: 6 / span 1;
    background-color: #d87e77;
    padding: 0.6em;
    border-radius: 25px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.38);
    border-radius: 50px;
    border: 2px solid #000000;
    font-size: 0.4em;
    font-weight: bold;
    text-align: center;
    color: #000000;
    z-index: 3;
    margin-bottom: 1em;
  
  }
  .me{
    background-image: url(../images/headshot-me.png);
    background-repeat: no-repeat;
    grid-column: 6 / span 5;
    grid-row: 2 / span 7;
    overflow: hidden;
    z-index: 2;
    margin-left: 1.3em;
    
    
    
  }
  
  .fun_picture{
    background-image: url(../images/IMG-7309.JPG);
    background-attachment: fixed; /* Parallax effect */
    background-color: rgb(100, 178, 202);
    background-size: cover; /* Parallax effect */
    background-repeat: no-repeat;
    width: 100%;
    height: 600px; /* Parallax effect */
    grid-column: 1 / -1;
    grid-row: 1 / span 7;
    image-rendering: optimizeQuality;
    display: block;
    min-height: 600px;
    
  }
  
  .fun_button{
  
    grid-column: 2 / span 2;
    grid-row: 6 / span 1;
    margin-bottom: 1.3em;
    background-color:rgb(100, 178, 202);
    padding: 0.6em;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.38);
    border-radius: 50px;
    border: 2px solid #000000;
    font-size: 0.4em;
    font-weight: bold;
    text-align: center;
    color: #000000;
    
    
  
  
  }

  .credibly_picture{
    background-image: url(../images/cred-header.jpeg);
    background-color: rgb(255, 127, 80);
    background-attachment: fixed; /* Parallax effect */
    background-position:bottom; /* Parallax effect */
    background-size:cover; /* Parallax effect */
    background-repeat: no-repeat;
    min-height: 600px;
    height: 600px; /* Parallax effect */
    grid-column: 1 / -1;
    grid-row: 1 / span 7;
    display: block;
    width: 100%;
    
    
  }
  
  .credibly_button{
  
    grid-column: 2 / span 2;
    grid-row: 6 / span 1;
    margin-bottom: 1.3em;
    background: rgb(252, 97, 25);
    padding: 0.6em;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.38);
    border-radius: 50px;
    border: 2px solid #000000;
    font-size: 0.4em;
    font-weight: bold;
    text-align: center;
    color: #000000;
    
    
  
  
  }
  
  .projects_picture{
    background-image: url(../images/AHSfrontentrance.jpeg);
    background-attachment: fixed; /* Parallax effect */
    background-color: #1da8d3;
    background-position:center; /* Parallax effect */
    background-size:cover; /* Parallax effect */
    background-repeat: no-repeat;
    min-height: 600px;
    height: 600px; /* Parallax effect */
    grid-column: 1 / -1;
    grid-row: 1 / span 7;
    display: block;
    width: 100%;
    
  }
  .led_button{
  
    grid-column: 2 / span 2;
    grid-row: 6 / span 1;
    margin-bottom: 1.3em;
    background: #FFC42E;
    padding: 0.6em;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.38);
    border-radius: 50px;
    border: 2px solid #000000;
    font-size: 0.4em;
    font-weight: bold;
    text-align: center;
    color: #000000;
  
  
  }

  .block_links{
  
    
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1em;
    font-size: 0.5;
    }
    
  .blink {
    animation-duration: 1s;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
   }
   @keyframes blink {
      from {
        color:rgb(0, 0, 0);
        opacity: 1;
      }
      to {
        color:#945551;
         opacity: 0.5;
      }
    } 
  
  .cooper_link{
    grid-column: 2 / span 3;
    grid-row: 1 / span 2;
    color: rgb(255, 255, 255);
    background: rgb(252, 97, 25);
    
    border-radius: 20px;
    
     margin-bottom: 2em;
     font-size:2em;
    grid-column-gap: 1em;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2), 0 16px 53px 0 rgba(0, 0, 0, 0.19);
    
    
  }
  .credibly_block img{
    width: 75%;
    height: auto;
    margin: auto;
    display: block;
    margin-bottom: 0.4em;
    
  }
  
  

  .adams_link{
    
    grid-column: 5 / span 3;
    grid-row: 1 / span 2;
    color: #4A2511;
    font-family: "solway", "serif";
    font-size: 2em;
    background: #ffffff;
    border-radius: 20px;
    transition: 2s;
    
    margin-bottom: 2em;
    
    
    }
    
    
    
    
    
    
    nav {
      width: 100%;
      padding-bottom: 1em;
      background: rgba(236,227,225,1);
      padding-top: 0.2em;
      font-size: 0.8em;
      position: fixed;
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      align-items: center;
      top: 0px;
      z-index: 90;
      align-content: center;
      align-items: center;
      
    }
    .Menu-list {
      font-size: 1.2em;
      line-height: 1;
      text-transform: uppercase;
      text-align: center;
      align-items: center;
      
    }
    
    
   

    

    .info3{
      font-size: 0.5em;
      margin-bottom: 2em;
      justify-items: center;
      text-align: center;
      grid-column: 2 / span 8;
      grid-row: 55 / span 2;
      margin-bottom: 3em;
      
    }
    .info2{
      font-size: 0.5em;
      margin-bottom: 2em;
      justify-content: center;
      text-align: center;
      grid-column: 2 / span 8;
      grid-row: 50 / span 1;
      margin-bottom: 3em;
      
    }
    h1 .credibly_info , h2 .credibly_info {
      grid-column: 3 / span 6;
    }
    .credibly_info{
      grid-column: 3 / span 6;
    }
    .about_info1{
      grid-column: 2 / span 8
    }

    .home_body{
      font-size: 0.5em;
      padding-left: 1em;
      padding-right: 1em;
      
      
    }
    
    
    #page {
      visibility: visible !important;
      }
    
    



.research{
  grid-row:22 / span 2;
  grid-column: 2 / span 8;
  font-size: 0.4em;
  margin-bottom: 1em;



}
.prop{
  grid-row:16 / span 2;
  grid-column: 5 / span 5;
  background-size: cover;
  margin-bottom: 1em;
  margin-top: 2em;
  margin-left: 1em;
  border: none;
  box-shadow: none;
  visibility: visible;
}

.sketch_logo{
  width: 100%;
  grid-row: 14 / span 2;
  grid-column: 2 / span 7;
  margin-left: 1.5em;
  margin-bottom: 1em;
  margin-top: 1em;
  border: none;
  box-shadow: none;
  
}

.request{

  grid-row:16 / span 2;
  grid-column: 2 / span 3;
  font-size: 0.4em;
  margin-bottom: 1em;
  margin-top: 3em;
}
.preliminary{
  grid-row: 24 / span 2;
  grid-column: 3 / span 6;
  margin-left: 0em;
  border: none;
  box-shadow: none;
  visibility: visible;
}
.potential{
  grid-row: 26 / span 2;
  grid-column: 3 / span 6;
  margin-left: 0em;
  border: none;
  box-shadow: none;
  visibility: visible;
}

.locations{
  grid-row: 28 / span 1;
  grid-column: 4 / span 4;
  font-size: 0.4em;
  text-align: center;
  margin-top: 2em;
 
}

.sign_location1{
  grid-row: 29 / span 2;
  grid-column: 2 / span 4;
  font-size: 0.4em;
  margin-left: 1em;
  border: none;
  box-shadow: none;
  text-align: center;
}

.sign_location2{
  grid-row: 29 / span 2;
  grid-column: 6 / span 4;
  font-size: 0.4em;
  margin-left: 1em;
  border: none;
  box-shadow: none;
  text-align: center;
}
.sign_location3{
  grid-row: 31 / span 2;
  grid-column: 2 / span 4;
  font-size: 0.4em;
  margin-bottom: 1em;
  margin-top: 2em;
  margin-left: 1em;
  border: none;
  box-shadow: none;
  text-align: center;
}
.sign_location4{
  grid-row: 31 / span 2;
  grid-column: 6 / span 4;
  font-size: 0.4em;
  margin-bottom: 1em;
  margin-top: 2em;
  margin-left: 1em;
  border: none;
  box-shadow: none;
  text-align: center;
}

.action_taken{
  grid-row: 36 / span 2;
  grid-column: 2 / span 8;
  font-size: 0.4em;
  margin-bottom: 1em;
  margin-top: 1em;
}
.twitter_fundraise{
  grid-row: 38 / span 2;
  grid-column: 3 / span 7;
  font-size: 0.4em;
  margin-bottom: 1em;
  margin-top: 1.2em;
}
.twitter_fundraise2{
  grid-row: 39 / span 2;
  grid-column: 5 / span 4;
  font-size: 0.4em;
  margin-bottom: 1em;
  margin-top: 1em;
}
.boosters{
  grid-row: 41 / span 2;
  grid-column: 2 / span 8;
  font-size: 0.4em;
  margin-bottom: 1em;
  margin-top: 2em;
}
.ptsa{
  grid-row: 43 / span 2;
  grid-column: 3 / span 6;
  font-size: 0.4em;
  margin-bottom: 1em;
  margin-top: 2em;
  margin-left: 3em;
  visibility: visible;
}
.result{
  grid-row: 45 / span 2;
  grid-column: 2 / span 8;
  font-size: 0.4em;
  margin-bottom: 1em;
  margin-top: 2em;
}
.sign_day{
  grid-row: 48 / span 2;
  grid-column: 3 / span 5;
  font-size: 0.4em;
  
  margin-top: 2em;
  z-index: 2;
}
.sign_night{
  grid-row: 49 / span 2;
  grid-column: 4 / span 6;
  font-size: 0.4em;
  margin-top: 5em;
  
  
}
.sign_ground{
  grid-row: 48 / span 2;
  grid-column: 5 / span 5;
  font-size: 0.4em;
  z-index: 1;
  margin-top: 2em;
  margin-right: 2em;
  
}
.paper{
  grid-row: 51 / span 2;
  grid-column: 2 / span 8;
  font-size: 0.4em;
  margin-bottom: 5em;
  
  
}
#research_ov{
  grid-column: 3 / span 6;
}



    .info{
      font-size: 0.5em;
    }

    .container h1, h2{
      
      margin-top: 1em;
      margin-left: 0;
      padding: 0;
      
    }
    video {
      width: 700px;
      height: 700px;
      margin-bottom: -0.25em;
      justify-content: center;
    }

    
}
@media screen and (min-width: 1200px){

  video {
    width: 700px;
    height: 700px;
    margin-bottom: -0.25em;
    justify-content: center;
  }
  .credibly_block img{
    width: 50%;
    height: auto;
    margin: auto;
    display: block;
    margin-bottom: 0.4em;
    padding: 0.3em;
  }
  
    
     
  
}
@media screen and (min-width: 2000px){

  .credibly_block img{
    width: 25%;
    height: auto;
    margin: auto;
    display: block;
    margin-bottom: 0.4em;
    
  }
}
   
  
@media (prefers-reduced-motion) {
  .vertically:hover, .spin, .bounce-7:hover {
    animation: none;
    transition: none;
    transform: none;
  }
  
  html{
      scroll-behavior: auto; 
  }

  
  .skip a{
    -webkit-transition: initial;
    transition: initial; 
  }

  
  .fun_picture, .about_picture, .projects_picture, .credibly_picture{
    background-attachment: initial;
  }
  .flip-card, .flip-card-back, .flip-card-front{
    transition: none;
    
  }
  .flip-card-back{
    visibility: hidden;
  }
  .led_button:hover .flip-card-back, .led_button:focus .flip-card-back, .credibly_button:hover .flip-card-back, .credibly_button:focus .flip-card-back, .about_button:hover .flip-card-back, .about_button:focus .flip-card-back, .fun_button:hover .flip-card-back, .fun_button:focus .flip-card-back{
    visibility: visible;
  }
   .loader-section, .loader-section.section-left, .loader-section.section-right, #loader, #loader-section{
    transition: none;
    transform: none;
    display: none;
  }
  .nav_item a:hover{
    transition: none;
  }
  
}
}
